<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhfeiyu.tech.dao.mapper.common.ConsoleUserMapper">
    <!--====================================== 查询开始-SELECT_BEGIN ======================================-->

    <!-- old below -->

    <select id="selectById" resultType="com.lhfeiyu.tech.DTO.RtvConsoleUser">
        select id, user_name, password, salt, phone, corp_id, admin_id, display_name, department_id, department_fk_id, auth, ext_id from rtv_console_user
        where id = #{id}
    </select>

    <select id="selectByNameAndPsw" resultType="com.lhfeiyu.tech.DTO.RtvConsoleUser">
        select id, user_name, password, salt, phone, corp_id, admin_id, display_name, department_id, department_fk_id, auth, ext_id from rtv_console_user
        where user_name = #{name} and password = #{psw}
    </select>
    <!--====================================== 查询结束-SELECT_FINISH ======================================-->

    <!--====================================== 修改开始-UPDATE_BEGIN ======================================-->
    <!--====================================== 修改结束-UPDATE_FINISH ======================================-->

    <!--====================================== 新增开始-INSERT_BEGIN ======================================-->
    <!--====================================== 新增结束-INSERT_FINISH ======================================-->

    <!--====================================== 删除开始-DELETE_BEGIN ======================================-->
    <!--====================================== 删除结束-DELETE_FINISH ======================================-->

</mapper>