<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhfeiyu.tech.dao.mapper.common.GroupMapper">
    <!--====================================== 查询开始-SELECT_BEGIN ======================================-->

    <!-- old below -->

    <select id="selectNameById" resultType="string">
        select group_name from rtv_group where id = #{id}
    </select>
    <!--====================================== 查询结束-SELECT_FINISH ======================================-->

    <!--====================================== 修改开始-UPDATE_BEGIN ======================================-->
    <!--====================================== 修改结束-UPDATE_FINISH ======================================-->

    <!--====================================== 新增开始-INSERT_BEGIN ======================================-->
    <!--====================================== 新增结束-INSERT_FINISH ======================================-->

    <!--====================================== 删除开始-DELETE_BEGIN ======================================-->
    <!--====================================== 删除结束-DELETE_FINISH ======================================-->

</mapper>