<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhfeiyu.tech.dao.mapper.common.UserMapper">
    <!--====================================== 查询开始-SELECT_BEGIN ======================================-->

    <select id="loadToCache" resultType="com.lhfeiyu.tech.model.UserCache">
        SELECT A.id,A.corp_id AS corpid,A.display_name AS username,A.department_id AS deptUniqueId,B.short_name AS deptName,
               IF(C.id IS NULL,0,C.id) AS roleId,IF(C.role_type IS NULL,0,C.role_type) AS roleType
        FROM rtv_user A LEFT JOIN rtv_unit_table B on A.department_id = B.unique_id  LEFT JOIN rtv_user_role C on A.user_role_id = C.id WHERE A.id = #{id}
    </select>

    <!-- old below -->

    <select id="selectByIdIn" resultType="com.lhfeiyu.tech.DTO.User">
        select A.id, A.display_name, A.department_id, A.corp_id, A.role_id, B.name deptName, C.role_type
        from rtv_user A left join rtv_unit_table B on A.department_id = B.unique_id
        left join rtv_user_role C on A.user_role_id = C.id
        where A.id in (${ids})
    </select>

    <select id="selectById" resultType="com.lhfeiyu.tech.DTO.User">
        select * from rtv_user where id = #{id}
    </select>

    <select id="selectNameById" parameterType="int" resultType="java.lang.String">
        select display_name from rtv_user where id = #{id}
    </select>

    <select id="selectAllByIdIn" resultType="com.lhfeiyu.tech.DTO.User">
        select A.id, A.corp_id, A.display_name, A.department_id, B.name deptName  from rtv_user A left join rtv_unit_table B on A.department_id = B.unique_id where A.`status` != 2 and A.id in (${ids})
    </select>

    <select id="selectByUniqueIdIn" resultType="com.lhfeiyu.tech.DTO.User">
        select id, display_name, department_id from rtv_user
        <where>
            <if test="uniqueIdIn != null and uniqueIdIn != ''">
                department_id in (${uniqueIdIn})
            </if>
            <if test="corpId != null and corpId != ''">
                and corp_id = #{corpId}
            </if>
            <if test="true">
                and `status` = 1
            </if>
        </where>
    </select>

    <select id="select" parameterType="com.lhfeiyu.tech.DTO.UserSearchDto" resultType="com.lhfeiyu.tech.DTO.User">
        select id, display_name, department_id, corp_id from rtv_user
        <where>
            <if test="displayName != null and displayName != ''">
                and display_name like concat ('%', #{displayName}, '%')
            </if>
            <if test="phone != null and phone != ''">
                and phone like concat ('%', #{phone}, '%')
            </if>
            <if test="corpId != null and corpId != ''">
                and corp_id = #{corpId}
            </if>
            <if test="true">
                and `status` = 1
            </if>
        </where>
    </select>
    <!--====================================== 查询结束-SELECT_FINISH ======================================-->

    <!--====================================== 修改开始-UPDATE_BEGIN ======================================-->
    <!--====================================== 修改结束-UPDATE_FINISH ======================================-->

    <!--====================================== 新增开始-INSERT_BEGIN ======================================-->
    <!--====================================== 新增结束-INSERT_FINISH ======================================-->

    <!--====================================== 删除开始-DELETE_BEGIN ======================================-->
    <!--====================================== 删除结束-DELETE_FINISH ======================================-->

</mapper>